*.pyc
*.wpr
*.old
*.sln
*.suo
*.vcproj
*.user
*.sdf
*.ncb
*.filter
*.vcxproj
*BuildLog*
*.*log
*.log
*.dep
*.obj
*.pdb
*.exp
*.lastbuildstate
*.manifest
*.dep
*.filters
*.unsuccessfulbuild
*.ipch
/Decomposition
/GreensFunction
*/Simulation_Data